*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
}

body {
  background-color: orange;
  height: 100vh;

  display: grid;
  place-items: center;

}

h1 {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  margin: 2rem 0;
}

form {
  background-color: rgb(102, 102, 212);
  padding: 1rem;
  border-radius: 6px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 450px;
  margin-bottom: 1rem;
  
}

.form-group {
  border: 1px solid rgb(243, 188, 9);
  display: flex;
  flex-direction: column;
  padding: .5rem 1rem;
  gap: .5rem;
  width: 100%;
  border-radius: 8px;
}

.form-group:not(:last-of-type){
  margin-bottom: 1rem;
}

label {
  color: #fff;
  font-size: 1rem;
  font-family: Arial, Helvetica, sans-serif;
  text-shadow: 2px 2px 2px #000;
}

input {
  background: transparent;
  border-bottom: 1px solid goldenrod;
  color: gold;
  font-size: 1rem;
  text-shadow: 1px 1px 2px #000;
}



